<div class="container">
  <accordion>
    <accordion-group heading="Our Mission">
      <p class="">At Trotman Clothing our mission is to bring you the latest fashion, of the highest quality, at a cost convenient to you. Fashion shouldn't hurt your pockets, it should give you more pockets to store your savings!</p>
    </accordion-group>
    <accordion-group heading="FAQs">
      <ul>
        <li>
          <p><b>Where are your clothes made?</b></p>
          <p>Every piece of clothing you see on our website is made by local fashionistas, supporting Oklahoma's home grown talent.</p>
        </li>
        <li>
          <p><b>What is your refund policy?</b></p>
          <p>Refunds are avaliable within 14 days for unworn clothing. Once a piece is worn, it cannot be returned. </p>
        </li>
        <li>
          <p><b>How long does shipping take?</b></p>
          <p>We strive to have orders arrive to our customers within 7 days. Depending on the size of your order, this can extend up to 10 days.</p>
        </li>
      </ul>
    </accordion-group>
    <accordion-group heading="Contact Information">
      <h3>Feel free to reach out to us with any questions! </h3>
      <p>Email: TrotmanClothing&#64;gmail.com</p>
      <p>Address: 12345 Main Street Oklahoma City, OK, 73134</p>
    </accordion-group>
  </accordion>
</div>
