<div class="container">
  <div class="mb-2">
    <div>
      <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
      <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width: 250px;">
        <form>
          <div class="row mx-0">
            <div class="col">
              <small><b>Size:</b></small>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="small"
                         (change)="FilterBySize()"
                         name="small" />
                  <label class="form-check-label small">Small</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="medium"
                         (change)="FilterBySize()"
                         name="medium" />
                  <label class="form-check-label small">Medium</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="large"
                         (change)="FilterBySize()"
                         name="large" />
                  <label class="form-check-label small">Large</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="extraLarge"
                         (change)="FilterBySize()"
                         name="extraLarge" />
                  <label class="form-check-label small">Extra Large</label>
                </div>
              </div>
            </div>
            <div class="col">
              <small><b>Price:</b></small>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="price2029"
                         (change)="FilterByPrice()"
                         name="price2029" />
                  <label class="form-check-label small">$20-$29</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="price3039"
                         (change)="FilterByPrice()"
                         name="price3039" />
                  <label class="form-check-label small">$30-$39</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="price4049"
                         (change)="FilterByPrice()"
                         name="price4049" />
                  <label class="form-check-label small">$40-$49</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div *ngFor="let items of items" class="col-lg-4 col-md-6 m-1">
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
</div>
