<!--<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container d-flex flex-row bd-highlight mb-3">
    <ul class="navbar-expand-md justify-content-center" style="display: inline-block;">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/shop" routerLinkActive="text-dark">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/about" routerLinkActive="text-dark">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/cart" routerLinkActive="text-dark">Cart</a>
      </li>
    </ul>
  </div>
</nav>-->
<nav>
  <div class="d-flex justify-content-around">
    <a style="color:black; text-decoration: none;" routerLink="/home" routerLinkActive="text-primary">Home</a>
    <a style="color:black; text-decoration: none;" routerLink="/shop" routerLinkActive="text-primary">Shop</a>
    <a style="color:black; text-decoration: none;" routerLink="/about" routerLinkActive="text-primary">About Us</a>
    <a style="color:black; text-decoration: none;" routerLink="/cart" routerLinkActive="text-primary">Cart</a>
  </div>
</nav>

