<div class="container mt-4">
  <div class="row">
    <div routerLink="/pants" class="col-large shadow border m-1 hover" style="max-width: 500px; min-width: 500px; max-height: 200px; min-height: 200px">
      <div class="text-center">
        <h2>Jeans</h2>
        <img src="assets/SlimFitBlueJeans.png" style="width: 100px; height: 100px" alt="picture" class="rounded-circle" />
        <p>Premium Bottoms fit for everyone.</p>
      </div>
    </div>
    <div routerLink="/tshirts" class="col-large shadow border m-1 hover" style="max-width: 500px; min-width: 500px; max-height: 200px; min-height: 200px">
      <div class="text-center">
        <h2>T-Shirts</h2>
        <img src="assets/SkyBlueChampionShirt.png" style="width: 100px; height: 100px" alt="picture" class="rounded-circle" />
        <p>Stylish Tops to make your look pop.</p>
      </div>
    </div>
    <div routerLink="/hoodies" class="col-large shadow border m-1 hover" style="max-width: 500px; min-width: 500px; max-height: 200px; min-height: 200px">
      <div class="text-center">
        <h2>Hoodies</h2>
        <img src="assets/BlueNikeHoodie.png" style="width: 100px; height: 100px" alt="picture" class="rounded-circle" />
        <p>Pullovers to make sure you're covered.</p>
      </div>
    </div>
    <div routerLink="/accessories" class="col-large shadow border m-1 hover" style="max-width: 500px; min-width: 500px; max-height: 200px; min-height: 200px">
      <div class="text-center">
        <h2>Accessories</h2>
        <img src="assets/Black&GoldBracelet.png" style="width: 100px; height: 100px" alt="picture" class="rounded-circle" />
        <p>A bit of spice to complete your look.</p>
      </div>
    </div>
  </div>
</div>
